.edd-checkout {
	
	#page {
		
		#primary{
			
			&.inner {
			
				article {
					text-align: left;

					#edd_checkout_cart {
						
						td,  th {
							padding: 15px;
						}

						#edd_checkout_form_wrap {

							.edd-cart-adjustment {
								padding: 10px 0;
								border-top: 1px solid #ccc;
								margin-top: 10px;
							}
						}
					}
				}
			}
		}
	}

	#edd_checkout_form_wrap {

		#edd_sl_renewal_fields {
			background-color: #fff6bf;
			color: shade(#fff6bf, 60%);
			display: block;
			margin-bottom: $base-spacing / 2;
			padding: $base-spacing / 2;
			text-align: center;

			a {
				color: shade(#fff6bf, 70%);
				text-decoration: underline;

				&:focus,
				&:hover {
					color: shade(#fff6bf, 90%);
				}
			}
		}
	}
}